/* TODO: FIX REPEATED CLASSES. */

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 214;
    --input-focus-s: 37%;
    --input-focus-l: 75%;   
    --grey-300: #b5c0cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* padding: 2rem; */
    padding-top: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    width: 24.25rem;
    max-width: 100%;
    height: 25rem;
    max-height: 100%;
    background-color: #fefefe;
    margin: auto;
    border: 3px solid var(--grey-300);
    border-radius: 5%;
}


.close::before {
    content: "x";
    font-size: 22px;
    color: #aaaaaa;
    position: relative;
    top: 0.5em;
    left: 15.4em;
    padding: 5px 12px 8px 12px;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    transition: all 420ms ease-out;
}

.close:hover::before,
.close:focus::before {
    background-color: rgba(9,30,66,.08);
    border-radius: 100%;
    cursor: pointer;
}

.title-container {
    position: relative;
    width: 15.6rem;
    height: 2.7rem;
    line-height: 2.7rem;
    margin-left: 2rem;
}

.input-title {
    width: 91%;
    border: 0;
    outline: 0;
    padding: 0.35rem 0;
    border-bottom: 2px solid var(--input-border);
    box-shadow: none;
    color: #111;
}

.input-title:focus {
    box-shadow: 0 4px 2px -2px  
    hsla(
        var(--input-focus-h),
        var(--input-focus-s),
        var(--input-focus-l),
        0.8
    );
    
}

.input-title:focus ~ .label-title {
    top: -1.25rem;
}

.label-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    transition: 120ms all ease-in;
    cursor: text;
}

/* Utility classes. */
/* Used to leave the text on the top when it has text (content). */
.has-content {
    top: -1.25rem;
}

.block-level {
    display: block;
}

.input-description {
    resize: none;
    font-family: inherit;
    font-size: max(16px, 1em);
    padding: 0.5em 0.5em;
    margin: 2.5rem 2rem 0 2rem;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    width: 17.3rem;
    height: 8rem;
    background-color: #f4f7fa;
    outline: none;
    transition: 180ms all ease-in;
}

.input-description:focus {
    box-shadow: 0 0 0 2px
      hsla(
        var(--input-focus-h),
        var(--input-focus-s),
        var(--input-focus-l),
        0.8
      );
}

.image-description {
    position: relative;
    bottom: 8.1rem;
    right: 19.5rem;
}

.label-description {
    font-weight: 500;
    line-height: 1;
    margin: 1.5rem 0.2rem 0 4rem;
    position: absolute;
    top: 8.9rem;
    transition: 180ms all ease-in;
}

/* .textarea:focus ~ .label-description {
    letter-spacing: 0.8px;
} */

.duedate-container {
    margin-top: 0.3rem;
}

.image-duedate {
    width: 26px;
    height: 26px;
    position: relative;
    bottom: -0.5rem;
    left: 2.1rem;
}

.label-duedate {
    position: relative;
    left: 2.1rem;
}

.input-duedate {
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    margin: 0.7rem 0 0 2.5rem;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    outline: none;
    transition: 180ms box-shadow ease-in;
}

.input-duedate:focus {
    box-shadow: 0 0 0 2px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      var(--input-focus-l),
      0.8
    );
}

.save-btn {
    margin: 2rem 0 0 8.5rem;
    padding: 0.5rem 1.8rem;
}

.delete-btn {
    display: none;
    margin: 0;
    padding: 0.5rem 1rem;
}

/* .input-duedate:focus ~ .label-duedate {
    letter-spacing: 0.8px;
} */

@media all and (max-width: 37.5rem) {
    
    .modal-content {
        width: 21rem;
    }

    .close::before {
        left: 11em;
    }

    .input-description {
        width: 14.3rem;
    }

    .image-description {
        right: 16.7rem;
    }

    .label-description {
        top: 9.1rem;
    }

    /* input-description:focus ~ .label-description {
        top: 8.6rem;
    } */
    
    .image-duedate {
        left: 1.9rem;
    }

    .label-duedate {
        left: 1.8rem;
    }

    .input-duedate {
        margin: 0.7rem 0 0 2rem;
        width: 45%;
        font-size: 15px;
    }

    .save-btn {
        margin: 2rem 0 0 6.8rem;
    }
}